page-mallsinfo {
<<<<<<< HEAD

=======
  .scroll-content {
    overflow-y: auto;
<<<<<<< HEAD
  }
>>>>>>> f5307f77d382020d2c0cacb5bd17c55d35dd6355
=======
  
 }
 .colors{
 primary: black;
 secondary: red;
>>>>>>> 9f288670a30e6230af7054456a848bf3f6d5f9fd
}
