
<ion-content class="background">
  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      <ion-list no-line>
        <ion-item>
          <ion-input type="text" placeholder="Username" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password" min="8"[(ngModel)]="user.password"></ion-input>
        </ion-item>
        <button ion-button block outline color="light" (click)="login(user)">Log in</button>
      </ion-list>

    </ion-card-content>
    <button ion-button block color="danger" (click)="goologin()" *ngIf="!userProfile">
      <ion-icon name="logo-googleplus"></ion-icon>
      Login with Google
    </button>
  </ion-card>

  <div>
    <div *ngIf="isLoggedIn; else facebookLogin">
      
      <p>
        <button ion-button icon-right (click)="logout()">
          Logout
        </button>
      </p>
    </div>
    <ng-template #facebookLogin>
      <button ion-button icon-right (click)="loginFB()">
        Login with
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
    </ng-template>

  </div>


  <button  ion-item (click)="register()">Don't have an account? Sign up</button>
</ion-content>
