page-restaurant-info {
    .card-background {
        background-color: rgb(228, 54, 1);
        font-size: 52px;
    }

    .card-header {
        color: rgb(228, 54, 1);
        font-size: 30px;
    }

}
